Sylvain Thery <thery@unistra.fr> Sylvain Thery <sylvain@thery.pipo>
Lionel Untereiner <lionel.untereiner@unistra.fr> untereiner <lionel.untereiner@unistra.fr>
Pierre Kraemer <kraemer@unistra.fr> Pierre Kraemer <kraemer@unistra.fr>
Kenneth Vanhoey <kenneth.vanhoey@unistra.fr> Kenneth Vanhoey <kenneth.vanhoey@unistra.fr>
Sylvain Thery <thery@unistra.fr> Sylvain Thery <thery@unistra.fr>
Pierre Kraemer <kraemer@unistra.fr> Pierre Kraemer <kraemer@modelis.u-strasbg.fr>
Pierre Kraemer <kraemer@unistra.fr> Pierre Kraemer <kraemer@modelis.(none)>
Nicolas Maire <maire.nico@gmail.com> Maire Nicolas <maire.nico@gmail.com>
CGoGN <cgogn@unistra.fr> CGoGN GIT Supervisor <cgogn@igg.u-strasbg.fr>
Thomas Jund <thomas.jund@gmail.com> Thomas <thomas.jund@univ-poitiers.fr>
Sylvain Thery <thery@unistra.fr> Thery Sylvain <sylvain@youpi.fr>
Thomas Jund <thomas.jund@gmail.com> Thomas <jund@ulis.u-strasbg.fr>
Pierre Kraemer <kraemer@unistra.fr> Pierre Kraemer <kraemer@modelis>
Lionel Untereiner <lionel.untereiner@unistra.fr> Lionel Untereiner <lionel.untereiner@unistra.fr>
Kenneth Vanhoey <kenneth.vanhoey@unistra.fr> Kenneth Vanhoey <kenneth@canaris.(none)>
Thomas Jund <thomas.jund@gmail.com> Jund Thomas <tjund@sashimis.u-strasbg.fr>
Basile Sauvage <sauvage@unistra.fr> Basile Sauvage <sauvage@unistra.fr>
Basile Sauvage <sauvage@unistra.fr> Basile Sauvage <sauvage@sushis.u-strasbg.fr>
Thomas Jund <thomas.jund@gmail.com> Thomas Jund <tjund@example.com>
Basile Sauvage <sauvage@unistra.fr> Basile Sauvage <sauvage@factis.u-strasbg.fr>
Thomas Pitiot <thomas@pitiot.eu> pitiot <pitiot@elvis.u-strasbg.fr>
Thomas Jund <thomas.jund@gmail.com> Thomas <tjund@unistra.fr>
David Cazier <david.cazier@unistra.fr> David Cazier <cazier@caroll1.u-strasbg.fr>
Pierre Kraemer <kraemer@unistra.fr> Pierre Kraemer <kraemer@macbook>
CGoGN <cgogn@unistra.fr> CGoGN <cgogn@unistra.fr>
Basile Sauvage <sauvage@unistra.fr> Basile Sauvage <sauvage@oasis.u-strasbg.fr>
David Cazier <david.cazier@unistra.fr> David Cazier <david.cazier@unistra.fr>
Kenneth Vanhoey <kenneth.vanhoey@unistra.fr> Kenneth Vanhoey <kenneth@kvanhoey.eu>
Sylvain Thery <thery@unistra.fr> Sylvain Thery <thery@gris.u-strasbg.fr>
Sylvain Thery <thery@unistra.fr> unknown <thery@MacGenis.(none)>
Pierre Kraemer <kraemer@unistra.fr> julien <julien@julien-VirtualBox.(none)>
Sylvain Thery <thery@unistra.fr> thery <turlututu@pipo.net>
Nicolas AUBRY <nicolas.aubry90@gmail.com> Nicolas AUBRY <nicolas.aubry90@gmail.com>
Pierre Kraemer <kraemer@unistra.fr> Pierre Kraemer <kraemer@pierre-macbook.local>
Sylvain Thery <thery@unistra.fr> Sylvain <thery@unsitra.fr>
Sylvain Thery <thery@unistra.fr> Sylvain Thery <thery@toto.net>
Sylvain Thery <thery@unistra.fr> thery <thery@tournevis.u-strasbg.fr>
Thomas Jund <thomas.jund@gmail.com> thomas <thomas@MDSPC96.(none)>
Sylvain Thery <thery@unistra.fr> unknown <thery@.(none)>
Kenneth Vanhoey <kenneth.vanhoey@unistra.fr> Kenneth Vanhoey <kenneth@layla.(none)>
Sylvain Thery <thery@unistra.fr> Sylvain Thery <thery@MacBook-Pro-de-Sylvain-Thery.local>
Thomas Pitiot <thomas@pitiot.eu> pitiot <pitiot@sushis.u-strasbg.fr>
Sylvain Thery <thery@unistra.fr> sylvain thery <aaa@bbb.fr>
Sylvain Thery <thery@unistra.fr> thery <thery@ingenis.u-strasbg.fr>
Basile Sauvage <sauvage@unistra.fr> Basile Sauvage <sauvage@mimesis.u-strasbg.fr>
Sylvain Thery <thery@unistra.fr> Sylvain Thery <thery@macgenis.u-strasbg.fr>
Sylvain Thery <thery@unistra.fr> Sylvain Thery <thery@wifi-osiris-sec-181-226.u-strasbg.fr>
Sylvain Thery <thery@unistra.fr> Sylvain Thery <thery@wifi-osiris-sec-183-213.u-strasbg.fr>
Sylvain Thery <thery@unistra.fr> Sylvain Thery <toto@pipo.fr>
Sabah Boustila <boustila@unistra.fr> boustila <boustila@lapis.u-strasbg.fr>
Kenneth Vanhoey <kenneth.vanhoey@unistra.fr> kenneth <kenneth@canaris>
Kenneth Vanhoey <kenneth.vanhoey@unistra.fr> kenneth <kenneth@colibris.(none)>
Nicolas Maire <maire.nico@gmail.com> maire <maire@matris.u-strasbg.fr>
Sylvain Thery <thery@unistra.fr> sylvain <sylvain@ubuntu.(none)>
Sylvain Thery <thery@unistra.fr> unknown <sylvain@.(none)>